<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="weather-info">
        <div class="flex">
            <img src="/totoro.png" width="100">
            <h1>церемонія !</h1>
            <img src="/totoro.png" width="100">
        </div>

        <h2><%= name %> <%= temperature %>°F</h2>
        <!-- <p> Wind: <%= windSpeed %></p> -->
        <p class="short"><%= shortForecast %></p>
        <p><%= detailedForecast %></p>
        <h2><%= laterForecast.name %> <%= laterForecast.temperature %>°F</h2>
        <!-- <p>Wind: <%= laterForecast.windSpeed %></p> -->
        <p class="short"><%= laterForecast.shortForecast %></p>
        <p><%= laterForecast.detailedForecast %></p>

        <h2><%= finalForecast.name %> <%= finalForecast.temperature %>°F</h2>
          <p class="short"><%= finalForecast.shortForecast %></p>
          <p><%= finalForecast.detailedForecast %></p>

    </div>
</body>
</html>
